#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_z {
            key-positions = <2 3>;
            bindings = <&kp Z>;
        };

        combo_v {
            key-positions = <26 27>;
            bindings = <&kp V>;
        };

        combo_q {
            key-positions = <27 28>;
            bindings = <&kp Q>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&trans  &kp W  &kp F  &kp M  &kp P      &none      &none      &kp X      &kp SQT  &kp J   &kp K  &trans
&trans  &kp R  &kp S  &kp N  &kp T      &kp B      &kp COMMA  &kp A      &kp E    &kp I   &kp H  &trans
&trans  &none  &kp C  &kp L  &kp D      &kp G      &kp DOT    &kp U      &kp O    &kp Y   &none  &trans
        &trans &trans &mo 1  &kp SPACE  &trans     &trans     &kp SHIFT  &mo 2    &trans  &trans 
            >;
        };

        num {
            bindings = <
&trans  &kp ESC  &kp ENTER &kp BACKSPACE &kp TAB  &none       &none  &kp FSLSH  &kp LBKT  &kp RBKT  &kp SEMI  &trans
&trans  &sk LALT &sk LGUI      &sk LCTRL &sk LSHFT  &kp DEL   &kp C_BRI_UP  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT    &trans
&trans  &none &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP  &kp CAPS  &kp C_BRI_DN  &kp BACKSLASH  &kp C_PREV  &kp C_NEXT  &none       &trans
        &trans &trans  &trans    &trans     &trans                  &trans     &trans  &mo 3  &trans  &trans 
            >;
        };

        sym {
            bindings = <
&trans  &kp GRAVE  &kp N9  &kp N8   &kp N7 &none      &none   &none   &none  &none &none     &trans
&trans  &kp N3 &kp N2  &kp N1  &kp N0 &kp EQUAL     &none     &sk LSHFT  &sk LCTRL  &sk LGUI  &sk LALT    &trans
&trans  &none  &kp N6  &kp N5  &kp N4  &kp MINUS     &none     &none  &none   &none  &none   &trans
        &trans &trans &mo 3     &trans         &trans          &trans     &trans     &trans &trans &trans 
            >;
        };

        fun {
            bindings = <
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &none      &none  &none      &none      &none     &none     &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &none      &none    &sk LSHFT  &sk LCTRL  &sk LGUI  &sk LALT  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &none      &none  &none      &none      &none     &none     &trans
        &trans &trans &trans  &trans  &trans    &trans        &trans     &trans &trans &trans 
            >;
        };
    };
};
