#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&trans  &kp B  &kp L  &kp D  &kp C      &kp V      &kp J   &kp F       &kp O      &kp U    &kp SEMI  &trans
&trans  &kp N  &kp R  &kp T  &kp S      &kp G      &kp Y   &kp H       &kp A      &kp E    &kp I     &trans
&trans  &kp X  &kp Q  &kp M  &kp W      &kp Z      &kp K   &kp P       &kp COMMA  &kp DOT  &kp SQT   &trans
        &trans &trans &mo 1  &kp SPACE  &trans     &trans  &kp LSHIFT  &mo 2      &trans   &trans 
            >;
        };

        num {
            bindings = <
&trans  &kp ESC   &kp BACKSPACE  &kp TAB       &kp ENTER  none         &none         &kp SLASH   &kp LBKT    &kp RBKT    &kp BSLSH  &trans
&trans  &kp LALT  &kp LGUI       &kp LCTRL     &kp LSHFT  &kp DEL      &kp C_BRI_UP  &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT  &trans
&trans  &none     &kp C_VOL_DN   &kp C_VOL_UP  &kp C_PP   &kp CAPS     &kp C_BRI_DN  &kp C_MUTE  &kp C_PREV  &kp C_NEXT  &none      &trans
        &trans    &trans         &trans        &trans     &trans       &trans        &trans      &mo 3       &trans      &trans 
            >;
        };

        sym {
            bindings = <
&trans  &kp GRAVE  &kp N9  &kp N8  &kp N7  &none          &none   &none      &none      &none     &none     &trans
&trans  &kp N3     &kp N2  &kp N1  &kp N0  &kp EQUAL      &none   &kp LSHFT  &kp LCTRL  &kp LGUI  &kp LALT  &trans
&trans  &none      &kp N6  &kp N5  &kp N4  &kp MINUS      &none   &none      &none      &none     &none     &trans
        &trans     &trans  &mo 3   &trans  &trans         &trans  &trans     &trans     &trans    &trans 
            >;
        };

        fun {
            bindings = <
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &none       &none  &none      &none      &none     &none     &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &none       &none  &sk LSHFT  &sk LCTRL  &sk LGUI  &sk LALT  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &none       &none  &none      &none      &none     &none     &trans
        &trans   &trans  &trans  &trans  &trans      &trans &trans     &trans     &trans    &trans 
            >;
        };
    };
};
